@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

a {
  text-decoration: none;
}

.hide {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  text-indent: -9999px;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "noto-sans-kr";
}

.App {
  font-size: 16px;
}
